.i-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.i-background .waves {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.i-background .waves .wave {
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
}
.i-background .waves .wave:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.i-background .waves .wave:nth-child(2) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
.i-background .waves .wave:nth-child(3) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@-webkit-keyframes move {
  from {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  to {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}
@keyframes move {
  from {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  to {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}
