.i-login-footer{  
  display: flex;
  flex-direction: row;
  width:100%;
  z-index: 0; 
  position: relative;
  .wrapper{    
    position: relative;
    display: block;
    flex-direction: row;
    line-height: 200%;
    padding: 1em;
    width: 100%;    
    text-align: center;
  }
}