.i-login-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 2em;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.i-login-header .i-login-header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.i-login-header .i-login-header-wrapper .i-login-header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.i-login-header .i-login-header-wrapper .i-login-header-logo img {
  width: 3em;
  height: 3em;
}
.i-login-header .i-login-header-wrapper .i-login-header-title {
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.i-login-header .i-login-header-wrapper .i-login-header-title .i-login-header-title-text {
  background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  line-height: 100%;
}
.i-login-header .i-login-header-wrapper .i-login-header-title .i-login-header-title-subtitle {
  font-size: 0.5em;
  line-height: 100%;
  color: #666;
}
.i-login-header .i-login-header-wrapper .i-login-header-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 12px;
}
