.i-waves {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.i-waves .wave {
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
}
@-webkit-keyframes move {
  from {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  to {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}
@keyframes move {
  from {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  to {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}
