.i-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.i-checkbox input[type=checkbox] {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: #eee;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  opacity: 0;
  z-index: 1;
}
.i-checkbox input[type=checkbox] ~ label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  line-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  padding-left: 1.5em;
  margin-left: -1em;
}
.i-checkbox span.checkbox {
  width: 1.2em;
  height: 1.2em;
  outline: 1px solid #ddd;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  pointer-events: none;
  cursor: pointer;
}
.i-checkbox input[type=checkbox]:checked ~ span.checkbox {
  background-color: var(--i-primary-color);
  outline: none;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.i-checkbox input[type=checkbox]:checked ~ span.checkbox:before {
  content: " ";
  position: absolute;
  background: transparent;
  left: 0.3em;
  top: 0.05em;
  width: 0.3em;
  height: 0.7em;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
