:host {
  --i-primary-color: #007bff;
  --i-secondary-color: #6c757d;
  --i-background-color: #fbfbfb;
  --i-success-color: #28a745;
  --i-warning-color: #ffc107;
  --i-danger-color: #dc3545;
  --i-info-color: #17a2b8;
  --i-light-color: #f8f9fa;
  --i-dark-color: #343a40;
}
.i-login {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position-y: -800px;
  font-size: 16px;
}
.i-login > .workspace {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .i-login > .workspace {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .i-login > .workspace i-login-panel {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
