.i-login-panel {
  position: relative;
  display: block;
  width: 100%;
  border: 0px solid #ddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: auto;
  -webkit-box-shadow: 2px 2px 7px 1px #e3e3e3;
  box-shadow: 2px 2px 7px 1px #e3e3e3;
  background: white;
}
.i-login-panel > .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 1em;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  background-color: #fbfbfb;
}
.i-login-panel > .header > .i-login-form-title {
  position: relative;
}
.i-login-panel .wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.i-login-panel .wrapper > .tabs {
  position: relative;
}
.i-login-panel .wrapper > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  padding-top: 1em;
}
.i-login-panel .wrapper > .body > form > * {
  display: block;
  margin-top: 1em;
}
.i-login-panel > .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 2em;
  border-top: 1px solid #eee;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.i-login-panel > .footer > :first-child {
  position: absolute;
  top: -0.8em;
  padding: 0 0.5em 0 0.5em;
  background-color: white;
  color: #aaa;
  font-size: 0.8em;
}
.i-login-panel > .footer > .partys {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.i-login-panel > .footer > .partys > a > * {
  width: 2.5em;
  height: 2.5em;
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    -webkit-transform: perspective(400px) scale3d(1, 0.95, 1) rotateY(170deg);
            transform: perspective(400px) scale3d(1, 0.95, 1) rotateY(170deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(180deg);
            transform: perspective(400px) rotateY(180deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    -webkit-transform: perspective(400px) scale3d(1, 0.95, 1) rotateY(170deg);
            transform: perspective(400px) scale3d(1, 0.95, 1) rotateY(170deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(180deg);
            transform: perspective(400px) rotateY(180deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
.flip {
  -webkit-animation: flip 0.5s linear 1;
          animation: flip 0.5s linear 1;
}
@media (max-width: 575.98px) {
  .i-login-panel {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
}
