.i-input {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid #ccc;
  padding: 0em;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.i-input > .wrapper {
  position: relative;
  padding: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 2em;
}
.i-input > .wrapper > input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  padding: 0;
  font-size: 1em;
  min-width: 2em;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  padding: 0.5em;
}
.i-input > .wrapper > input:focus {
  outline: none;
}
.i-input > .wrapper > input::-webkit-input-placeholder {
  color: #aaa;
}
.i-input > .wrapper > input::-moz-placeholder {
  color: #aaa;
}
.i-input > .wrapper > input::-ms-input-placeholder {
  color: #aaa;
}
.i-input > .wrapper > input::placeholder {
  color: #aaa;
}
.i-input > a.action {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.6em 0 0.6em;
  border-left: 1px solid #ccc;
  background-color: #f8f8f8;
  text-decoration: none;
  color: #555;
  text-wrap: nowrap;
}
.i-input > a.action:hover {
  background-color: #f0f0f0;
}
.i-input > a.action:last-child {
  -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
}
.i-input ~ .error {
  position: relative;
  padding: 0.5em;
  color: red;
  text-align: left;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
